<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">


    <link rel="icon" type="image/jpg" href="/static/recursos/icon.jpg"> <!-- ICONO -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'ini.css' %}">  

    <title>PharmaGo</title>
</head>
<body>
 
    <div class="fondo"></div>
    <div class="capa"></div>


<div class="container-fluid2">
    <div class="container">
        <h2>PharmaGo</h2>
        <ul>
            <li><a href="{% url 'medicamentos' %}">Medicamentos</a></li>
            <li><a href="{% url 'pacientes' %}">Pacientes</a></li>
            <li><a href="{% url 'recetas' %}">Recetas</a></li>
            <li><a href="{% url 'entregas' %}">Entregas</a></li>
            <li><a href="{% url 'proto' %}">Prototipo</a></li>
        </ul>
    </div>

    <div class="content" id="inicio">
        <p>Bienvenido al centro de control: Tu acceso exclusivo para gestionar y optimizar la operación del hospital con eficiencia y seguridad.
            <br><br>
            <a href="{% url 'cerrar_sesion' %}" class="btn">Cerrar sesión</a>
        </p>
    </div>


    <section class="collage">
        <h2></h2> 
    
        <br>
    
        <div class="row">
            <div class="collage-col">
                <a href="{% url 'medicamentos' %}">
                    <div class="image-container">
                        <img src="/static/recursos/medicamentos.jpeg" alt="Medicamentos">
                        <div class="image-text">
                            <p>Los medicamentos son esenciales para el tratamiento de diversas enfermedades.</p>
                        </div>
                    </div>
                </a>
                <br></br>
                <h3>Medicamentos</h3>  
                <button class="ver-mas-btn" data-url="{% url 'medicamentos' %}">Ver más</button>
            </div>
    
            <div class="collage-col">
                <a href="{% url 'pacientes' %}">
                    <div class="image-container">
                        <img src="/static/recursos/pacientes.jpeg" alt="Pacientes">
                        <div class="image-text">
                            <p>Accede a la información y gestión de pacientes de manera eficiente.</p>
                        </div>
                    </div>
                    <button class="ver-mas-btn" data-url="{% url 'pacientes' %}">Ver más</button>
                </a>
                <br></br>
                <h3>Pacientes</h3>  
            </div>
            
            <div class="collage-col">
                <a href="{% url 'recetas' %}">
                    <div class="image-container">
                        <img src="/static/recursos/recetas.jpeg" alt="Recetas">
                        <div class="image-text">
                            <p>Consulta y administra recetas médicas con facilidad.</p>
                        </div>
                    </div>
                    <button class="ver-mas-btn" data-url="{% url 'recetas' %}">Ver más</button>
                </a>
                <br></br>
                <h3>Recetas</h3> 
            </div>
            
            </div>
            
            <div class="row">
                <div class="collage-col">
                    <a href="{% url 'entregas' %}">
                        <div class="image-container">
                            <img src="/static/recursos/entregas.jpeg" alt="Entregas">
                            <div class="image-text">
                                <p>Monitorea y gestiona la entrega de medicamentos.</p>
                            </div>
                        </div>
                        <button class="ver-mas-btn" data-url="{% url 'entregas' %}">Ver más</button>
                    </a> 
                    <br></br>
                    <h3>Entregas</h3> 
                </div>
            
                <div class="collage-col">
                    <a href="{% url 'proto' %}">
                        <div class="image-container">
                            <img src="/static/recursos/proto.jpg" alt="Prototipo">
                            <div class="image-text">
                                <p>Verifica la información del prototipo.</p>
                            </div>
                        </div>
                        <button class="ver-mas-btn" data-url="{% url 'proto' %}">Ver más</button>
                    </a>
                    <br></br>
                    <h3>Prototipo</h3> 
                </div>
            </div>
            </section>
            
    

            <footer class="footer">
                <div class="footer-content">
                    <h3>PharmaGo</h3>
                    <p>Optimiza la gestión de medicamentos con nuestra solución inteligente y autónoma para hospitales.</p>
                    <ul class="socials">
                        <li><a href="#"><i class="fa fa-facebook"> </i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"> </i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"> </i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"> </i></a></li> 
                    </ul>
                </div>
                
                <div class="footer-bottom">
                    <p>&copy; 2025 PharmaGo. Todos los derechos reservados. Diseñado por <strong>Vet To Care</strong></p>
                </div>
            </footer>
</div>



</body>
</html>