<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'iniciar_sesion.css' %}">    


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="formulario">
        
        <div class="seccionDos">
            <div class="contenidoDos">
                <h2>Iniciar sesión</h2>
                <p>Por favor, inicia sesión con tus datos </p>

                <form class="formUser">
                    <label>
                        <i class='bx bx-envelope'><box-icon name='envelope'></box-icon></i>
                        <input type="text" id="correo" placeholder="Correo electrónico" required>
                    </label>

                    <label>
                        <i class='bx bx-lock-alt'><box-icon name='lock-alt'></box-icon></i>
                        <input type="password" id="contraseña" placeholder="Contraseña" required>
                    </label>
                    
                    <input type="submit" value="Iniciar sesión">

                </form>

            </div>

        </div>

    </div>

</body>
</html>