<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">


    <link rel="icon" type="image/png" href="im.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
 
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'proto.css' %}">  

    <title>PharmaGo</title>
</head>
<body>

    <div class="fondo"></div>
    <div class="capa"></div>

    <div class="container">
        <h2><box-icon name='cart-download' type='solid' size='40px'  color="#d6dbdf" class="icono-usuario"></box-icon> Prototipo</h2>
        <ul>
            <li> <a href="{% url 'inicio' %}"><box-icon name='log-in-circle' type='solid' animation='tada' color="#d6dbdf" class="icono-regresar"></box-icon>
                <span> Regresar </span></a></li>
        </ul>   
    </div>


    <div class="content" id="inicio">
        <p>Bienvenido al centro de control: Tu acceso exclusivo para gestionar y optimizar la operación del hospital con eficiencia y seguridad.</p>
    </div>


<div class="container-fluid"> 

    <div class="content-wrapper">
        <div class="left-container">
            <box-icon name='car-battery' type='solid' size='130px' color='#283747' ></box-icon>
            <h2>Información de la Batería</h2>
            <br>
            <p>{{proto.voltaje}} </p>
        </div>
        <div class="divider"></div>
        <div class="right-container">
            <box-icon name='line-chart' size='130px' color='#283747'></box-icon>
            <h2>Latitud y Longitud</h2>
            <br>
            <p>Latitud: {{proto.latitud}} Longitud: {{proto.longitud}}</p>
        </div>
    </div>

     <div class="content-wrapper">
        <div class="left-container">
            <box-icon name='stats' size='130px' color='#283747'></box-icon>
            <h2>Estado</h2>
            <br>
            <p>{{proto.estado}}</p>
        </div>
        <div class="divider"></div>
        <div class="right-container">
            <box-icon type='solid' name='face' size='130px' color='#283747'></box-icon>
            <h2>Médico Encargado</h2>
            <br>
            <p>{{proto.medico_encargado}}</p>
        </div>
    </div>
    
<script>
    setTimeout(function(){
        window.location.reload();
    }, 10000);
</script>
</div>


</body>
</html>
