<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">


    <link rel="icon" type="image/png" href="im.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'proto.css' %}">  

    <title>PharmaGo</title>
</head>
<body>

<div class="container-fluid">
    <div class="container">
        <h2>PharmaGo</h2>
        <ul>
            <li><a href="">Medicamentos</a></li>
            <li><a href="">Pacientes</a></li>
            <li><a href="">Recetas</a></li>
            <li><a href="">Entregas</a></li>
            <li><a href="">Prototipo</a></li>
        </ul>
    </div>
 
    <div class="content-wrapper">
        <div class="left-container">
            <h2>Información de la Batería</h2>
            <p>Eeeee </p>
        </div>
        <div class="divider"></div>
        <div class="right-container">
            <h2>Estado</h2>
            <p>aaaaae</p>
        </div>
    </div>
</div>
</body>
</html>
