<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="im.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'recetas.css' %}">  

    <title>PharmaGo</title>
</head>
<body>

<div class="container-fluid">
    <div class="container">
        <h2><box-icon name='detail' size='40px'  color="#d6dbdf" class="icono-usuario"></box-icon> Recetas Médicas</h2>
        <ul>
            <li> <a href="{% url 'inicio' %}"><box-icon name='log-in-circle' type='solid' animation='tada' color="#d6dbdf"></box-icon>
                <span> Regresar </span></a></li>
        </ul>
    </div>

    {% for receta in recetas %}
    <div class="card">
        <div class="title">{{ receta.idReceta }}</div>
        <div class="field">
            <strong>ID Paciente:</strong> {{ receta.idPaciente }}
        </div>
        <div class="field">
            <strong>Medicamentos:</strong>
            <ul>
                {% for med in receta.medicamentos %}
                <li>
                    <strong>ID Medicamento:</strong> {{ med.idMedicamento }}<br>
                    <strong>Cantidad:</strong> {{ med.cantidad }}<br>
                    <strong>Hora Inicial:</strong> {{ med.horaInicial }}<br>
                    <strong>Periodicidad:</strong>Cada {{ med.periodicidad }} horas<br> 
                    <strong>Fecha Inicio:</strong> {{ med.fechaInicio|date:"Y-m-d" }}<br>
                    <strong>Fecha Fin:</strong> {{ med.fechaFin|date:"Y-m-d" }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

    <div class="content">
        <a href="{% url 'registroRec' %}" class="btn">Registrar receta</a>
      </div>
</div>


<footer class="footer">
    <div class="footer-content">
        <h3>PharmaGo</h3>
        <p>Optimiza la gestión de medicamentos con nuestra solución inteligente y autónoma para hospitales.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"> </i></a></li>
            <li><a href="#"><i class="fa fa-twitter"> </i></a></li>
            <li><a href="#"><i class="fa fa-youtube"> </i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"> </i></a></li> 
        </ul>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2025 PharmaGo. Todos los derechos reservados. Diseñado por <strong>Vet To Care</strong></p>
    </div>
</footer>

</body>
</html>
