* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    height: 100vh;
}

/*Contenedor */
.container-fluid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 80px;
    background-color: #344D5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.container h2 {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.container ul {
    display: flex;
}

.container ul li {
    list-style: none;
    margin-right: 50px;
}

.container ul li a  {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container span{
    position: relative;
    top: -5px;
}

.container ul li a:hover {
    color: #85c1e9;
}

/* Contenedor de abajo */
.content-wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    height: calc(100vh - 80px);
}

.left-container, .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    background-color: #e6ebef;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.divider {
    width: 2px;
    background-color: #ccc;
    height: 80%;
    align-self: center;
}

.card {
    background-color: #cc1a1a; /* Fondo gris claro */
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    font-family: 'Montserrat', sans-serif;
}
.card .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}
.card .field {
    margin-bottom: 10px;
    color: #555;
}
.card .field strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}