* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, #e6eaed, #f8f9fa);
    height: 100vh;
    overflow-y: auto;
}

/* Contenedor */
.container-fluid {
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    height: 80px;
    background: linear-gradient(90deg, #5d6d7e, #344D5D);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.container h2 {
    color: #d6dbdf;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-top: -10px; 
}

.container ul {
    display: flex;
}

.container ul li {
    list-style: none;
    margin-right: 50px;
}

.container ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container span {
    position: relative;
    top: -5px;
}

.container ul li a:hover {
    color: #b4c3f6;
}

/* Cardss */
.card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    width: 340px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.card .title {
    background: rgba(93, 109, 126, 0.8);
    color: #fff;
    font-size: 22px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
    text-align: center;
}

.card .field {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 8px;
}

.card .field strong {
    color: #34495e;
}

/* Icono estilo */
.icono-usuario {
    position: relative;
    top: 8px;
}
