* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #d6dbdf ,#eaeded);
    height: 100vh;
}

/*Contenedor */
.container-fluid {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin-top: -360px;
    margin-bottom: 20%; 
}

.container {
    height: 80px;
    background: linear-gradient(90deg, #5d6d7e,  #344D5D); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.container h2 {
    color: #d6dbdf;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.container ul {
    display: flex;
}

.container ul li {
    list-style: none;
    margin-right: 50px;
}

.container ul li a  {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container span{
    position: relative;
    top: 5px;
}

.container ul li a:hover {
    color: #b4c3f6;
}

.icono-usuario {
    position: relative;
    top: 10px;
  }

.icono-regresar{
    position: relative;
    top: 10px;
}
  

/* Contenedor de abajo */
.content-wrapper {
    display: flex;
    flex: 1;
    width: 80%;
    height: calc(100vh - 80px);
}

.content-wrapper h2 {
    color: #273746;
}

.left-container, .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    align-items: center;
    background-color: #f4f6f6;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.divider {
    width: 2px;
    background-color: #ccc; /* #ccc*/
    height: 80%;
    align-self: center;
}

/* Imagen de fondo */
.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-image: url("/static/recursos/imagen.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, rgba(52, 77, 93, 0.7), rgba(52, 77, 93, 0.7)); 
    z-index: -1;
}

/* Contenedor 2 */
.content {
    width: 1200px;
    height: 100vh;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 350px;
}

.content h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 50px;

}

.content p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: lightgray;
    line-height: 35px;
    padding: 20px 7vw;
    width: 50vw;
    max-width: 800px;
    text-align: center; 
}

/* Agregue esto */
.battery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.battery {
    width: 100px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    background-color: #f4f6f6;
}

.battery-level {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /*background-color: #28a745; */
}

#battery-text {
    margin-top: 10px;
    font-weight: bold;
    color: #283747;
}

/* Pie de página */
.pie {
    width: auto;
    height: auto;
    background-color: #49606e;
    padding-top: 40px;
    color: #c5c2c2;
}

.contenido-pie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contenido-pie h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
}

.contenido-pie p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

/* Redes Sociales */
.redes-sociales {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redes-sociales li {
    margin: 0 10px;
}

.redes-sociales a {
    text-decoration: none;
    color: #fff;
}

.redes-sociales a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}

.redes-sociales a:hover i {
    color: #286a93;
}

/* Pie Inferior */
.pie-inferior {
    background-color: #344D5D;
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.pie-inferior p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.pie-inferior span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

