* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    height: 100vh;
}

/* Contenedor */
.container-fluid {
    padding: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    height: 80px;
    background: linear-gradient(90deg, #5d6d7e, #344D5D);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.container h2 {
    color: #d6dbdf;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
}

.container ul {
    display: flex;
}

.container ul li {
    list-style: none;
    margin-right: 50px;
}

.container ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container span {
    position: relative;
    top: -5px;
}

.container ul li a:hover {
    color: #b4c3f6;
}

/* Cards */
.card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    margin: 20px 0;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.card .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #344D5D;
}

.card .field {
    margin-bottom: 12px;
    color: #555;
}

.card .field strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.card .field ul {
    padding-left: 40px;
}

.card .field li {
    margin-bottom: 12px;
    font-size: 14px;
    color: #7f8c8d;
}

/* Icono */
.icono-usuario {
    position: relative;
    top: 8px;
}

