* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center; /* Centra */
    align-items: center; /* Centra */
    height: 100vh;
    background: linear-gradient(90deg, #ccd1d1 ,#aeb6bf);
    margin: 0;
    overflow: hidden; 
}

/* Todo el contenedor */
.form-container {
    display: flex;
    height: 70vh; /* Si pongo 100vh, se ocupa la pantalla completa */
    width: 50vw; /* Si pongo 100vh, se ocupa la pantalla completa */
    transition: all 1s ease;
    margin: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 
}

/* Contenedor izquierdo */
.info-section {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(60deg, #85929e, #151312);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-content {
    position: relative;
    z-index: 2; 
    color: #fff;
    padding: 0 30px;
    text-align: center;
}

.info-content h2 {
    font-size: 2.5rem;
    color: #f8f8f8;
}

.info-content p {
    margin: 15px 0;
    color: #f8f8f8;
}

/* Contenedor derecho */
.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.form-content {
    padding: 0 30px;
}

.info-content h2 {
    color: #f8f8f8;
    font-weight: bold;
}

.form-content h2 {
    color: #1f354a;
    font-weight: bold;
    font-size: 2rem
}

.form-content p {
    color: #555;
}

.user-form {
    margin: 30px 0 0 0;
}

.user-form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.user-form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.user-form label i {
    color: #a7a7a7;
}

.user-form input[type="submit"],
.user-form input[type="button"] {
    background-color: #5d6d7e;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.user-form input[type="submit"]:hover,
.user-form input[type="button"]:hover {
    background-color: #34495e;
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}


